* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.logo {
    padding-top: 20px;
}

h3 {
    color: blue;
}

.home-pg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-image: url("../img/6.jpg");
}


.home-cta {
    padding: 10px 
}

a {
    color: blue;
    text-decoration: none;
}

.home-ct ul {
    list-style: none;
    display: inline-flex;
}

.home-ct li{
    padding-right: 20px;
}
   


.cta-content {
    padding: 10px 30px;
}

.home-ct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

showcase{
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showcase h3{
    font-size: 20px;
    color: black;
    margin-top: 70px;
}